<div class=registration-section>
	
	<div class=ins-form>
	<h2>Sign up</h2>
	<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
	  <%= f.error_notification %>

	  <div class="row">
	  	<div class="col-xs-5">
	  	<%= f.input :user_name, required: true, label:"Username", placeholder:'Username', input_html:{class: 'input-lg'} %>
	  	</div>
	  </div>

	  <div class="row">
	  	<div class='col-xs-5'>
	    	<%= f.input :email, required: true, autofocus: true, label:'Email', placeholder: 'Email', input_html:{class: 'input-lg'} %>
	    </div>
	  </div>

	  <div class="row">
	    <div class="col-xs-5">
	    	<%= f.input :password, required: true, label:'passowrd', hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), placeholder:'Password', input_html:{class: 'input-lg'} %>
	    </div>
	  </div>

	  <div class="row">
	    <div class="col-xs-5">
	    	<%= f.input :password_confirmation, required: true, label:'Retype password', placeholder:'Retype Password', input_html:{class: 'input-lg'} %>
	    </div>
	  </div>

	  <div class="form-actions">
	    <%= f.button :submit, "Sign up" %>
	  </div>

	<% end %>
	</div>
	<%= render "devise/shared/links" %>
</div>