<!DOCTYPE html>
<html>
  <head>
    <title>Instagram Demo</title>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <style type="text/css">
       body { background: #e6ffe6 !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
    </style>
    <%= csrf_meta_tags %>
  </head>
</html>
<body>

  <p style="color: green"><%= flash[:notice] %></p>
  <p style="color: red"><%= flash[:alert] %></p>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>



  <%= render 'layouts/navbar' %>


  <%= yield %>


</body>
</html>